body {
    background-image: url(wQub3px.jpg);
    background-size: cover;
}

h1 {
    color: : #000000;
    text-align: center;
    font-size: 80px;
    font-family: "Times New Roman", Times, serif;
    font-style: italic;
}

p {
    font-family: verdana;
    font-size: 20px;
}

jumbotron {
  outline-color: #000000;
  outline-width: thick;
  background-color: #ffffff;
}
