body {
    background-image: url(wQub3px.jpg);
    background-size: contain;
}

h1 {
    color: : #000000;
    text-align: center;
}

p {
    font-family: verdana;
    font-size: 20px;
}
