body {
    background-image: url(wQub3px.jpg);
    bachground-size:contain;
    background-repeat:space;
}

h1 {
    color: blue;
    text-align: center;
}

p {
    font-family: verdana;
    font-size: 20px;
}
